@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(to bottom right, #061fb1, #015ace, #00cfd6);
  background-attachment: fixed;
  color: #ffffff;
  line-height: 1.6;
}
header {
  background: rgb(4, 211, 149);
  color: rgb(250, 81, 2);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
header h1 {
  font: 1.6rem;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 10px;
}
.hero {
  background: url("https://images.unsplash.com/photo-1603584173870-7f23fdae1b7a?&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dauto=format&fit=crop&w=1600&q=60");
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.hero h2 {
  font-size: 2.2rem;
  color: aquamarine;
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.1rem;
  color: aquamarine;
  margin-bottom: 20px;
}
.btn {
  background-color: #00cfd6;
  color: black;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.hero .btn:hover {
  background-color: azure;
}
.about,
.jenis,
.booking {
  padding: 70px 20px;
  text-align: center;
}

.about {
  background: rgba(6, 31, 177, 0.7);
  border-radius: 25px;
  margin: 40px auto;
  max-width: 900px;
}
.about img {
  margin-top: 25px;
  max-width: 90%;
  border-radius: 15px;
}

.jenis h2 {
  color: black;
  margin-bottom: 30px;
}

.jenis-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.jenis-kendaraan {
  background: #015ace;
  border-radius: 15px;
  overflow: hidden;
  max-width: 280px;
}
.jenis img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.jenis h3 {
  margin: 15px 20px;
  color: black;
}

.jenis p {
  padding: 0 10px 20px;
  font-size: 1rem;
}

.booking {
  background: rgba(1, 90, 206, 0.5);
  border-radius: 25px;
  max-width: 600px;
  margin: 0 auto;
}

.booking form {
  background: transparent;
  padding: 30px;
}

.booking input,
.booking select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #ffffff;
}
